{% import 'includes/components/Input/input.njk' as Input %}

<div class="captcha">
  <div class="captcha__img">
    <figure>
      <img src="/assets/images/captcha.png">
      {# https://source.unsplash.com/random/150×72/ #}
    </figure>
    <figure id="captcha__refresh">
      <img src="/assets/images/refresh.png">
    </figure>
    <div class="vertical-line"></div>
    <figure id="captcha__listen">
      <img src="/assets/images/listen.png">
    </figure>
  </div>
  <div class="captcha__input">
    {{Input.item(
      required=true,
      id='login__captcha',
      labelFor='login__captcha',
      label='Resimdeki kodu giriniz',
      attr='data-parsley-minlength=6 data-parsley-minlength-message=En&nbsp;az&nbsp;6&nbsp;haneli&nbsp;olmalı data-parsley-required-message=Kodu&nbsp;doğru&nbsp;girdiğinizden&nbsp;emin&nbsp;olun.'
    )}}
  </div>
</div>