{% import 'includes/components/Input/input.njk' as Input %}

<div class="captcha">
  <div class="captcha__img">
    <figure>
      <img src="/assets/images/captcha.png">
      {# https://source.unsplash.com/random/150×72/ #}
    </figure>
    <figure id="captcha__refresh">
      <img src="/assets/images/refresh.png">
    </figure>
    <div class="vertical-line"></div>
    <figure id="captcha__listen">
      <img src="/assets/images/listen.png">
    </figure>
  </div>
  <div class="captcha__input">
    {{Input.item(
      required=true,
      id='login-captcha',
      labelFor='login-captcha',
      label='Resimdeki kodu giriniz'
    )}}
  </div>
</div>