.form {
  max-width: 420px;
  width: 100%;
  padding: 45px 50px;
  border: 1px solid $neutral200;

  @include phone {
    padding: 45px 10px;
  }

  &.form__otp {
    p {
      margin-bottom: 25px;
    }
    span {
      display: inline;
    }

    .otp {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 15px;

      > div {
        width: 82px;
        height: 30px;
        padding: 9px;
        border: 1px solid $neutral200;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        margin-right: 15px;

        &::after {
          content: '';
          width: 64px;
          height: 1px;
          margin: 0 auto;
          background-color: $alert-light;
          position: absolute;
          bottom: -1.5px;
          left: 50%;
          transform: translate(-50%, -50%);
        }

        figure {
          width: 12px;
          height: 12px;

          img {
            display: block;
          }
        }

        span {
          margin-bottom: 0;
          color: $alert-light;
          font-size: 15px;
        }
      }
      &.active > div::after {
        height: 0;
      }

      a {
        color: $primary500;
      }
    }
  }

  h1 {
    text-align: center;
    color: $neutral800;
    font-size: 27px;
    line-height: 1.52;
    margin-bottom: 15px;
    font-weight: normal;
  }

  p {
    color: $neutral600;
    text-align: center;
    margin-bottom: 40px;
  }

  .user-email {
    font-weight: 600;
    font-size: 15px;
    color: $neutral800;
    margin-bottom: 0;
  }

  span {
    font-size: 13px;
    font-weight: 500;
    color: $neutral600;
    line-height: 1.54;
    margin-bottom: 20px;
    text-align: center;
    display: block;
  }

  .form__row {
    margin-bottom: 45px;

    .parsley-error {
      color: $alert-light !important;
    }

    .parsley-errors-list.filled {
      .parsley-required,
      .parsley-type,
      .parsley-pattern,
      .parsley-range,
      .parsley-special,
      .parsley-number,
      .parsley-uppercase,
      .parsley-minlength,
      .parsley-lowercase,
      .parsley-equalto {
        color: $alert-light;
        font-size: 10px;
        line-height: 1.5;
        font-weight: normal;
        margin-top: 5px;
      }

      .parsley-equalto {
        color: $neutral600;
      }
    }
  }

  .form__row--multiple {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .form__action {
    text-align: right;
    a {
      margin-right: 90px;
    }
  }
}
