<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <style>
      body {
        background-color: #37afea !important;
      }
      .header {
        height: 100px;
        color: #fff;
        text-align: center;
      }
      .header h1 {
        line-height: 100px;
      }
      .index {
        width: 1100px;
        margin: 0 auto 40px;
        padding: 50px;
        border-radius: 10px;
        background-color: #fff;
      }
      .pages {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: flex-start;
      }
      .page {
        width: 25%;
        padding-right: 20px;
        margin-bottom: 20px;
      }
      h3 {
        margin-bottom: 5px;
        font-size: 1.4rem;
      }
      .links {
        display: block;
        color: #222;
        font-size: 1.1rem;
        margin-bottom: 3px;
      }
      a {
        text-decoration: none;
      }
    </style>
  </head>
  <body>
    <header class="header">
      <h1>Index</h1>
    </header>
    <div class="index">
      <div class="box">
        <h2>Sayfa Listesi</h2>
        <div class="pages">
          <div class="page">
            <h3>Login</h3>
            <a class="links" href="./Login/login-email.html" target="_blank">Login Email</a>
            <a class="links" href="./Login/login-password.html" target="_blank">Login Password</a>
            <a class="links" href="./Login/login-get-new-password.html" target="_blank">Login New Password</a>
            <a class="links" href="./Login/login-captcha-email.html" target="_blank">Login Captcha Email</a>
            <a class="links" href="./Login/login-otp-verify-email.html" target="_blank">Login OTP Verify Email</a>
            <a class="links" href="./Login/login-otp-verify-phone.html" target="_blank">Login OTP Verify Phone</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>