{% macro item(class, required, label, type, icon, id, attr, inputAlert, labelFor) %}

  <div class="input
          {%- if class -%} {{ class }} {%- endif -%}
          {%- if icon %} input--icon {%- endif -%}">
    <input type="{%- if type -%} {{ type }}{% else %}text{%- endif -%}"
          {% if id %} id="{{ id }}" {%- endif -%}
          {%- if required -%} required {% endif -%}
          autocomplete="off"
          data-filled
          {% if attr -%}{{attr}}{%- endif -%}
  >
    <label for="{{ labelFor }}">{{label}}</label>
    {%- if icon -%}
      <button type="button" class="input__icon
      {%- if inputAlert %} input--alert{%- endif -%}">
        <img src="{{icon}}">
      </button>
    {%- endif -%}
    <div class="input-line"></div>
  </div>
  <div id="input-errors"></div>
{% endmacro %}