.modal {
  // display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba($neutral800, 0.75);

  display: flex;
  align-items: center;
  justify-content: center;

  &.active {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__body {
    max-width: 420px;
    padding: 63px 50px 45px 50px;
    background-color: $neutral000;
    position: relative;

    @include phone {
      margin: 0 10px;
      padding-left: 20px;
      padding-right: 20px;
    }

    .close-modal {
      width: 24px;
      position: absolute;
      top: 15px;
      right: 15px;
      border: none;
      background: transparent;
      cursor: pointer;
    }

    > figure {
      width: 90px;
      margin: 0 auto;
      margin-bottom: 30px;

      img {
        display: block;
      }
    }

    > h2 {
      font-size: 23px;
      line-height: 1.52;
      font-weight: 500;
      color: $neutral900;
      margin-bottom: 15px;
      text-align: center;
    }

    > p {
      font-weight: 500;
      line-height: 1.53;
      color: $neutral600;
      margin-bottom: 45px;
      text-align: center;
    }

    > button {
      display: block;
      margin: 0 auto;
    }

    > div {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}
