.captcha {
  padding: 15px;
  border: 1px solid $neutral200;
  margin-bottom: 45px;

  &__img {
    display: flex;
    margin-bottom: 25px;
    justify-content: space-between;
    align-items: center;

    > figure:first-child {
      width: 150px;
      height: 72px;
      border: 1px solid $neutral200;
      padding: 0 15px;
    }

    > figure:not(:first-child) {
      width: 45px;
      height: 45px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 24px;
        height: 24px;
      }
    }

    .vertical-line {
      width: 1px;
      height: 25px;
      background-color: $neutral200;
    }
  }

  &__input {
    .input::after {
      max-width: 250px;
      height: 0.5px;
    }
  }
}
