.input {
  position: relative;
  width: 100%;

  &::after {
    content: '';
    max-width: 290px;
    width: 100%;
    height: 1px;
    background-color: $neutral300;
    display: block;
    margin: 0 auto;
    position: absolute;
    top: 55px;
    left: 14px;
    z-index: 1;
  }

  &::before {
    content: '';
    position: absolute;
    left: 15px;
    top: 55px;
    width: 40px;
    height: 1px;
    display: block;
    background-color: var(--beforeColor, transparent);
    z-index: 2;
  }

  &--line-focus::before {
    background-color: $primary500;
  }

  &--line-focus {
    input {
      caret-color: $primary500;
    }
  }

  &--line-error::before {
    background-color: $alert-light;
  }

  &--line-filled::before {
    background-color: $neutral700;
  }

  input {
    width: 100%;
    height: 55px;
    border: none;
    background-image: linear-gradient(to bottom, $neutral000, $neutral100);
    padding-left: 15px;
    padding-top: 15px;
    font-size: 15px;
    color: $neutral800;
    font-weight: 600;
    line-height: 1.53;
  }

  input[data-parsley-type='number'] {
    font-size: 23px;
    font-weight: 500;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type='number'] {
    -moz-appearance: textfield;
  }

  label {
    position: absolute;
    left: 15px;
    top: 15px;
    color: $neutral400;
    pointer-events: none;
    transition: all 0.3s ease-in-out;
  }

  > input:focus ~ label,
  > input[data-filled='true'] ~ label {
    font-size: 10px;
    top: 6px;
  }

  input.parsley-error ~ .input--alert {
    display: block;
  }

  .input--alert {
    display: none;
  }

  .input__icon,
  .input--alert {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 20px;
    border-radius: 50%;
    border: none;
    background-color: transparent;

    img {
      display: block;
      pointer-events: none;
    }
  }

  .input__icon {
    cursor: pointer;
  }

  .input--alert {
    pointer-events: none;
  }

  &.input-otp {
    max-width: 45px;

    &::before {
      max-width: 15px;
    }

    &::after {
      max-width: 15px;
    }

    input {
      padding: 10px 6px;
      text-align: center;
    }
  }
}
