{% macro item(text, class, href, buttonDisabled, buttonv2) %}
  {% if href %}
    <a href="{{ href }}" class="button
      {%- if class %} {{ class }} {%- endif -%}
      {%- if buttonv2 %} button--v2{%- endif -%}
    ">{{ text }}</a>
  {% else %}
    <button class="button
      {%- if class %} {{ class }} {%- endif -%}
      {%- if buttonDisabled %} button--disabled{%- endif -%}
      {%- if buttonv2 %} button--v2{%- endif -%}
    ">{{ text }}</button>
  {% endif %}
{% endmacro %}