// Primary Color
$primary100: #e6ecff;
$primary200: #becbfa;
$primary300: #97adf7;
$primary400: #5278f2;
$primary500: #2d56de;
$primary600: #1e41b3;
$primary700: #122e8a;
$primary800: #0b1f61;
$primary900: #071545;
$primary1000: #030a1f;

// Neutral Color

$Muted: #aeb2c2;

$neutral000: #fff;
$neutral100: #f5f6f7;
$neutral200: #e6e7ed;
$neutral300: #c7c9d4;
$neutral500: #8b8fa1;
$neutral600: #696d80;
$neutral700: #4c5061;
$neutral800: #2d303d;
$neutral900: #191b24;
$neutral1000: #0d0e12;

// Alert & Success

$alert-light: #af2246;
$alert-dark: #c4274e;

$success-light: #2d8636;
$success-dark: #378c40;
