{% extends 'includes/layout/layout.njk' %}
{% import 'includes/components/Button/button.njk' as Button %}
{% import 'includes/components/Input/input.njk' as Input %}

{% set title = 'Modal' %}

{% block content %}
  {{Button.item(
    text='Open Modal',
    class='button--wide open-modal'
  )}}

  <div class="modal">
    <div class="modal__body">
      <button class="close-modal"><img src="/assets/images/close.png"></button>

      <figure>
        <img src="/assets/images/reset.png">
      </figure>

      <h2>Lorem ipsum dolor sit amet</h2>
      <p>Lütfen telefon numaranıza gönderilen OTP kodunu giriniz</p>

      <div>
        {{Button.item(
        class='button--small',
        text='Button 1',
        buttonv2=true
      )}}

        {{Button.item(
        class='button--small',
        text='Button 2'
      )}}
      </div>
    </div>
  </div>
{% endblock %}