{% extends 'includes/layout/layout.njk' %}
{% import 'includes/components/Button/button.njk' as Button %}
{% import 'includes/components/Input/input.njk' as Input %}
{% set title = 'Login' %}

{% block content %}
  <section class="login-email">
    <div class="container">
      <figure>
        <img src="/assets/images/logo.png" alt="Logo">
      </figure>
      <form id="form-email" class="login-email__form">
        <h1>Giriş</h1>
        <p>DSS Suite hesabınızı kullanarak giriş yapın</p>
        <div class="form__row">
          {{Input.item(
            required=true,
            type='email',
            id='login-email',
            labelFor='login-email',
            label='Eposta Adresi',
            icon='/assets/images/icon-input-alert.png'
          )}}
        </div>

        <div class="form__action">
          {{Button.item(
            text='Devam Et',
            buttonDisabled=true
          )}}
        </div>
      </form>
    </div>
  </section>

{% endblock %}

{# {{Button.item(
    text='Devam Et'
  )}}
#}