{% extends 'includes/layout/layout.njk' %}
{% import 'includes/components/Button/button.njk' as Button %}
{% import 'includes/components/Input/input.njk' as Input %}
{% set title = 'Login Email' %}

{% block content %}
  <section class="section-login">
    <div class="container">
      <figure>
        <img src="/assets/images/logo.png" alt="Logo">
      </figure>
      <form id="login-form" class="form" data-parsley-trigger="keydown keyup">
        <h1>Giriş</h1>
        <p>DSS Suite hesabınızı kullanarak giriş yapın</p>
        <div class="form__row">
          {{Input.item(
            required=true,
            type='email',
            id='login__email',
            labelFor='login__email',
            label='Eposta Adresi',
            inputAlert=true,
            icon='/assets/images/input-alert.png',
            attr='data-parsley-required-message=Lütfene-postaadresinizigiriniz. data-parsley-type-message=Girmiş&nbsp;olduğunuz&nbsp;eposta&nbsp;adresi&nbsp;ile&nbsp;ilişkili&nbsp;bir&nbsp;hesap&nbsp;sistemimizde&nbsp;bulunamadı'
          )}}
        </div>

        <div class="form__action">
          {{Button.item(
            text='Devam Et',
            disabled=true,
            type='submit'
          )}}
        </div>
      </form>
    </div>
  </section>

{% endblock %}