{% extends 'includes/layout/layout.njk' %}
{% import 'includes/components/Button/button.njk' as Button %}
{% import 'includes/components/Input/input.njk' as Input %}
{% set title = 'Login Password' %}

{% block content %}
  <section class="section-login">
    <div class="container">
      <figure>
        <img src="/assets/images/logo.png" alt="Logo">
      </figure>
      <form id="login-form" class="form" data-parsley-trigger="keydown keyup">
        <h1>Giriş</h1>
        <p class="user-email">gokce.cetin@turkcell.com.tr</p>
        <span>için giriş yapın</span>
        <div class="form__row">
          {{Input.item(
            required=true,
            type='Password',
            id='login__password',
            labelFor='login__password',
            label='Şifre',
            icon='/assets/images/pass-visible.png',
            attr='data-parsley-minlength=8 data-parsley-uppercase=1 data-parsley-lowercase=1 data-parsley-number=1 data-parsley-special=1 data-parsley-required-message=Lütfenşifrenizigiriniz. data-parsley-special-message=Şifrenizenaz1özelkarakteriçermeli. data-parsley-number-message=Şifrenizenaz1rakamiçermeli. data-parsley-uppercase-message=Şifrenizenaz1büyükharfiçermeli. data-parsley-lowercase-message=Şifrenizenaz1küçükharfiçermeli. data-parsley-minlength-message=Şifrenizenaz8haneliolmalı.'
          )}}
        </div>

        <div class="form__action">
          <a href="javascript:;">Şifremi Unuttum</a>
          {{Button.item(
            text='Giriş Yap',
            disabled=true,
            type='submit'
          )}}
        </div>
      </form>
    </div>
  </section>
{% endblock %}