{% extends 'includes/layout/layout.njk' %}
{% import 'includes/components/Button/button.njk' as Button %}
{% import 'includes/components/Input/input.njk' as Input %}
{% set title = 'Login New Password' %}

{% block content %}
  <section class="section-login">
    <div class="container">
      <figure>
        <img src="/assets/images/logo.png" alt="Logo">
      </figure>
      <form id="login-form" class="form" data-parsley-trigger="keydown keyup">
        <h1>Şifre Belirle</h1>
        <p>DSS Suite hesabınıza ait yeni şifrenizi belirleyin</p>
        <div class="form__row">
          {{Input.item(
            required=true,
            type='Password',
            id='login__password--new',
            labelFor='login__password--new',
            label='Yeni Şifre',
            icon='/assets/images/pass-visible.png',
            attr='data-parsley-minlength=6 data-parsley-uppercase=1 data-parsley-number=1 data-parsley-special=1 data-parsley-required-message=Lütfen&nbsp;şifrenizi&nbsp;giriniz. data-parsley-special-message=Şifreniz&nbsp;en&nbsp;az&nbsp;1&nbsp;özel&nbsp;karakter&nbsp;içermeli. data-parsley-number-message=Şifreniz&nbsp;en&nbsp;az&nbsp;1&nbsp;rakam&nbsp;içermeli. data-parsley-uppercase-message=Şifreniz&nbsp;en&nbsp;az&nbsp;1&nbsp;büyük&nbsp;harf&nbsp;içermeli.  data-parsley-minlength-message=Şifreniz&nbsp;en&nbsp;az&nbsp;8&nbsp;haneli&nbsp;olmalı.'
          )}}
        </div>

        <div class="form__row">
          {{Input.item(
            required=true,
            type='Password',
            id='login__password--refresh',
            labelFor='login__password--refresh',
            label='Yeni Şifre',
            icon='/assets/images/pass-visible.png',
            attr='data-parsley-minlength=6 data-parsley-uppercase=1 data-parsley-number=1 data-parsley-special=1 data-parsley-equalto=#login__password--new data-parsley-required-message=Lütfen&nbsp;yeni&nbsp;şifrenizi&nbsp;tekrar&nbsp;giriniz.'
          )}}
        </div>

        <div class="form__action">
          <a href="javascript:;">Şifremi Unuttum</a>
          {{Button.item(
            text='Giriş Yap',
            disabled=true,
            type='submit'
          )}}
        </div>
      </form>
    </div>
  </section>
{% endblock %}