{% extends 'includes/layout/layout.njk' %}
{% import 'includes/components/Button/button.njk' as Button %}
{% import 'includes/components/Input/input.njk' as Input %}

{% set title = 'Login OTP Verify' %}

{% block content %}
  <section class="section-login">
    <div class="container">
      <figure>
        <img src="/assets/images/logo.png" alt="Logo">
      </figure>

      <form id="login-form" class="form form__otp" data-parsley-trigger="keydown keyup">
        <h1>OTP Doğrula</h1>
        <p>Lütfen <span class="user-email">gokce.cetin@turkcell.com.tr</span> adresine gönderilen OTP kodunu giriniz</p>

        <div class="otp">
          <div>
            <figure>
              <img src="/assets/images/otp-time.png">
            </figure>

            <span class='timer'>00:00</span>
          </div>
          <a href="javascript:;">Yeni Kod İste</a>
        </div>

        <div id="otp-verify" class="form__row form__row--multiple">
          {{Input.item(
            class='input-otp',
            id='num1',
            attr='maxlength=1'
          )}}
          {{Input.item(
            class='input-otp',
            id='num5',
            attr='maxlength=1'
          )}}
          {{Input.item(
            class='input-otp',
            id='num5',
            attr='maxlength=1'
          )}}
          {{Input.item(
            class='input-otp',
            id='num5',
            attr='maxlength=1'
          )}}
          {{Input.item(
            class='input-otp',
            id='num5',
            attr='maxlength=1'
          )}}
          {{Input.item(
            class='input-otp',
            id='num6',
            attr='maxlength=1'
          )}}
        </div>

        <div class="form__action">
          {{Button.item(
            text='Doğrula',
            disabled=true,
            type='submit'
          )}}
        </div>
      </form>
    </div>
  </section>
{% endblock %}